@if (User != null)
{
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (var photo in User.Photos)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@photo.Id"></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var photo in User.Photos)
            {
                <div class="carousel-item active">
                    <img src="@photo.Url"
                         class="d-block w-100"
                         alt="@photo.Description"
                         style="max-width: 300px; max-height: 300px; margin: auto">
                </div>
            }
        </div>
        <a class="carousel-control-prev"
           href="#carouselExampleIndicators"
           role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon"
                  aria-hidden="true"
                  style="background-color: black;
                         padding: 10px;
                         border-radius: 50%;"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"
           href="#carouselExampleIndicators"
           role="button"
           data-slide="next">
            <span class="carousel-control-next-icon"
                  aria-hidden="true"
                  style="background-color: black;
                         padding: 10px;
                         border-radius: 50%;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

@code {
    [Parameter]
    public User User { get; set; }
}