@inherits LayoutComponentBase

<NavBar />
<div style="margin-bottom: 50px;">
    @Body
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="2"
                SuccessClass="success-toast-override"
                InfoClass="info-toast-override" />