@inherits LayoutComponentBase

<NavBar />
<div>
    @Body
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                SuccessClass="success-toast-override"
                InfoClass="info-toast-override" />